.create-page {
  margin: 1rem;
}

.add-card {
  background-color: #f8f9fa;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.border-bottom {
  cursor: pointer;
  border-bottom: 8px solid #ffba08;
}

.card-number {
  font-size: 2rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.card-icons {
  display: flex;
  gap: 1rem;
}

.icon--drag-handle,
.icon--trash {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.icon--drag-handle {
  font-size: 3rem;
}

.create-page h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2.4rem 2.4rem 2.4rem;
  background-color: #f8f9fa;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .field {
  display: flex;
  flex-direction: column;
}

.card .field input {
  border: none;
  border-bottom: 3px solid #343a40;
  margin-bottom: 0.4rem;
  background-color: #f8f9fa;
}

.card .field input:focus {
  outline: none;
}

.card__input {
  transition: all 300ms ease;
}

.card .field input:focus.card__input {
  border-bottom: 3px solid #ffba08;
}
