* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
}

/* PALETTE */
/* 
FONT-COLOR: #343a40
DARK: #e9ecef
LIGHT: #F8F9FA
primary: #ffba08
 */

html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
input:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  cursor: pointer;
}
