* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
}

/* PALETTE */
/* 
APP: #e9ecef
CARDS: #F8F9FA
THEME: #0d47a1
DARK: #3C096C
LIGHT: #e0aaff
 */

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}
